@import "tailwindcss";
@plugin "daisyui" {
  include: loading, loading-spinner, loading-md, btn, btn-error;
}

@theme {
  --breakpoint-xs: 540px;
  --color-background-gray: oklch(92.8% 0.006 264.531); /* gray-200 */
  --color-font-gray: oklch(37.1% 0 0);
  --color-font-hover-purple: #b95fd5;
  --color-font-background-purple: #f3ccff;
}

html {
  @apply bg-background-gray;
}

body {
  @apply w-full min-h-screen xl:w-[1280px] xl:ml-auto xl:mr-auto;
  scrollbar-color: "red";
}
